* {
  scroll-behavior: smooth;
}
.nav_set {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 100%;
  background: #f3d9d9;
  z-index: 30;
}
.tab_2 {
  position: relative;
}

.tab_2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0%;
  bottom: -6px;
  background: #b00000;
  z-index: 1;
}
.tab_1 {
  color: #b00000;
  position: relative;
}

.tab_1::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  left: 8%;
  bottom: -5px;
  background: #b00000;
  z-index: 1;
}
.tab_line::before {
  content: "";
  position: absolute;
  bottom: -3%;
  width: 100%;
  height: 4px;
  background: #b00000;
}

.tab_clr {
  color: #b00000;
}
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #b00000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

@media (min-width: 768px) {
  .nav_set {
    width: unset;
    flex-direction: row;
    height: unset;
    position: unset;
    background: transparent;
    transition: all 350ms linear !important;
  }
}
@media (max-width: 768px) {
  .ov_hidden {
    overflow: hidden;
  }
}
.loader {
  width: fit-content;
  background: radial-gradient(circle closest-side, #000 94%, #0000)
    right/calc(200% - 1em) 100%;
  animation: l24 1s infinite alternate linear;
}

.loader::before {
  content: "LEMON_WARES";
  background: inherit;
  background-image: radial-gradient(circle closest-side, #fff 94%, #000);
  -webkit-background-clip: text;
}

@keyframes l24 {
  100% {
    background-position: left;
  }
}
